.form-control {
  border-radius: unset;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid darkgrey;
}

.form-control[type="email"]:first-of-type {
  padding-left: 2px;
}

.email-box {
  border: 2px solid darkgrey;
}

.form-control:focus,
.form-control:active {
  box-shadow: 0px 1px 2px 1px gray inset;
  border: 1px solid gray;
}

textarea {
  resize: none;
}

.btn {
  border-radius: unset;
}

.btn:focus {
  box-shadow: none;
  border-bottom: 1px solid gray;
}
