<section class="container-fluid mt-5" id="contact" #contact>
  <div class="container pr-2">
    <h5>Fortisi Home Design</h5>
    <div class="row mb-4 d-flex justify-content-between">
      <div class="col-sm-12 col-lg-4">
        <div class="row">
          <div class="col-sm-12 pr-5 mt-4">
            <p class="mb-2">A: Laze Nancica 7, 2100 Novi Sad</p>
            <p class="mb-2">T: 021/422-022</p>
            <p class="mb-2">E: office@smartinit.net</p>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-12 pr-5">
            <p class="mb-2">MON - FRI: 7am - 10pm</p>
            <p class="mb-2">SATURDAY: 8am - 10pm</p>
            <p>SUNDAY: 8am - 11pm</p>
          </div>
        </div>
        <div class="row mt-4 mb-3">
          <div class="col-sm-12 pr-5">
            <p class="mb-2">FAQ /</p>
            <p class="mb-2">Shipping & Returns /</p>
            <p class="mb-2">Store Policy /</p>
            <p>Payment Methods /</p>
          </div>
        </div>
      </div>
      <!-- 2nd col -->
      <div class="col-sm-12 col-lg-7">
        <form (ngSubmit)="sendForm(userForm)" #userForm="ngForm">
          <div class="row form-group d-flex mt-4" ngModelGroup="userData">
            <div class="col-md-12 col-lg-6 mb-lg-1 mb-sm-2 pr-lg-1">
              <input
                type="text"
                class="form-control pl-2"
                placeholder="Name"
                id="name"
                name="name"
                ngModel
                required
              />
            </div>
            <div class="col-md-12 col-lg-6 pl-lg-1">
              <input
                type="email"
                class="form-control pl-2"
                placeholder="Email"
                id="email"
                name="email"
                ngModel
                required
                email
                #email
              />
              <span clas="help-block" *ngIf="!email.valid && email.touched"
                >Please enter a valid e-mail adress</span
              >
            </div>
            <div class="col-lg-12 mt-2">
              <input
                type="text"
                class="form-control pl-2"
                placeholder="Subject"
                id="subject"
                name="subject"
                ngModel
              />
            </div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control pl-2"
              rows="3"
              placeholder="Message"
              id="message"
              ngModel
              name="message"
              required
            ></textarea>
          </div>
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <button type="submit" class="btn btn mb-2">SEND</button>
            </div>
            <div class="col-lg-6 mt-5">
              <label class="text-muted" for="newsletter"
                >Get our newsletter</label
              >
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 pr-0 mt-1 mb-2">
              <input
                #email
                name="newsletter"
                type="text"
                class="form-control email-box"
                id="newsletter"
                placeholder="Enter your email here"
              />
            </div>
            <div class="col-lg-6 mt-1 pl-lg-2">
              <button type="submit" class="btn btn-dark ml-0 pl-3 pr-3">
                Subscribe Now
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- google maps -->
<iframe
  width="100vw"
  class="mb-n2"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2809.0269408742183!2d19.82146551555019!3d45.24724797909882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b1039f285cc69%3A0x6a786bc4f51a5a03!2zTGF6ZSBOYW7EjWnEh2EgNywgTm92aSBTYWQ!5e0!3m2!1sen!2srs!4v1600755866116!5m2!1sen!2srs"
  width="100%"
  height="450"
  frameborder="0"
  style="border: 0"
  allowfullscreen=""
  aria-hidden="false"
  tabindex="0"
></iframe>
