<div class="container">
  <div class="row">
    <div class="col mt-5">
      <table class="table table-responsive-md">
        <thead>
          <tr>
            <th scope="col">My Cart</th>
            <th scope="col-lg">Price</th>
            <th scope="col-lg-2" style="max-width: 350px">Quantity</th>
            <th scope="col" style="max-width: 70px">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">
              <div class="card" style="width: 8rem">
                <img
                  class="card-img-top cart-img"
                  src="../../assets/images/nighttable.jpg"
                  alt="Card image cap"
                />
                <div class="card-body p-0">
                  <p class="card-text pt-0 text-center">item.name</p>
                </div>
              </div>
            </td>
            <td>[item.price]</td>
            <td>
              <input type="number" class="quantity-input" name="quantity" />
              <!-- [(Ng)]="izmeniKolicinu()" -->
            </td>
            <td class="pr-0">item.total</td>
            <td>
              <svg
                class="pl-0"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <td scope="row">
              <div class="card" style="width: 8rem">
                <img
                  class="card-img-top cart-img"
                  src="../../assets/images/nighttable.jpg"
                  alt="Card image cap"
                />
                <div class="card-body p-0">
                  <p class="card-text pt-0 text-center">item.name</p>
                </div>
              </div>
            </td>
            <td>[item.price]</td>
            <td>
              <input type="number" class="quantity-input" name="quantity" />
            </td>
            <td class="pr-0">[item.total]</td>
            <td>
              <svg
                class="pl-0"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <td scope="row">
              <div class="card" style="width: 8rem">
                <img
                  class="card-img-top cart-img"
                  src="../../assets/images/nighttable.jpg"
                  alt="Card image cap"
                />
                <div class="card-body p-0">
                  <p class="card-text pt-0 text-center">item.name</p>
                </div>
              </div>
            </td>
            <td>item.price</td>
            <td>
              <input type="number" class="quantity-input" name="quantity" />
            </td>
            <td class="pr-0">item.total</td>
            <td>
              <svg
                class="pl-0"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-trash"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total: items.total</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <hr />
    </div>
  </div>
  <div class="row align-items-center mt-0">
    <div class="col d-flex justify-content-end">
      <button
        type="button"
        routerLink="/checkout"
        class="btn btn-dark checkout-btn mb-4"
      >
        Checkout
      </button>
    </div>
  </div>
</div>
