.quantity-input {
  width: 45px;
}

.cart-img {
  height: 70px;
  object-fit: cover;
  object-position: bottom;
  border-radius: unset;
}

.checkout-btn {
  width: 320px;
  background-color: black;
}
