<div class="container">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <div class="register">
        <button type="button" class="close pr-2 pt-1" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="text-center mt-5">
          <h1>WE WANT TO MEET YOU</h1>
          <small class="form-text text-dark"
            >Please Log In to continue enjoying shopping on our site.
          </small>
          <button type="submit" class="login-btn btn btn-dark pl-5 pr-5 mt-5">
            Log In
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
