<header class="hero">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class class="col-12 text-center">
        <h1 class="cover-title">
          Fortisi Home Design <br />
          Second name for Stylish
        </h1>
        <p class="lead text-white">Beauty that comes from trust</p>
        <button class="btn btn-dark">Shop Now</button>
      </div>
    </div>
  </div>
</header>
<section class="container page-introduction mt-4 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h5 class="text-muted text-center text-uppercase mb-3">
        Power of the idea and art of craftsmanship
      </h5>
      <p class="text-muted text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias maxime
        explicabo dolorem ipsum repellendus sunt hic saepe exercitationem
        nostrum, assumenda, dolore laboriosam ducimus a? Fugit hic aut repellat
        dicta corrupti, earum aspernatur libero quod mollitia accusantium
        delectus officiis suscipit iusto cupiditate iste sit distinctio possimus
        quasi fuga molestias perferendis, ipsam voluptatem corporis.
      </p>
      <p class="text-muted text-center">
        Provident veritatis dolorum illo, tempora voluptatem recusandae. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eum
        beatae perferendis rem doloremque. Doloremque veniam dolores consectetur
        eligendi sequi! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Maiores, natus?
      </p>
    </div>
  </div>
</section>
